@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: url("../../public/fonts/Gilroy-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: "Gilroy", sans-serif;
}

/* Custom CSS Animation for the description */
@keyframes gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

/* Custom CSS Animation for the description */
.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 2.5s ease infinite;
}

/* CSS Animation for Border Rotation of Deep Research Toggler */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
